body {
  margin: 50px auto;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.vjs-youtube iframe {
  pointer-events: none;
}

.vjs-tech:hover {
  pointer-events: auto;
}

.vjs-youtube iframe:hover {
  cursor: none;
}
